{% extends 'base.html.twig' %}

{% block title %}Package index{% endblock %}

{% block body %}
    <h1>Package index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PackageName</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.packageName }}</td>
                <td>{{ package.value }}</td>
                <td>
                    <a href="{{ path('package_show', {'id': package.id}) }}">show</a>
                    <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('package_new') }}">Create new</a>
{% endblock %}
