 <div class="row mt-5">

           <div class="col-lg-6 col-sm-12 mb-2">
                <div class="card border-{{ color }} shadow-lg">
                    <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                    {# TODO mettre le mois en injection en lettre par le controller #}
                        <span>Heures pour {{'now'|date('m') }} {{'now'|date('Y') }}</span>
                    </div>
                    <div class="card-body">
                        <canvas id="MontantFactureChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-sm-12">

                
                        <div class="card border-{{ color }} shadow-lg">
                            <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                                 <span>Prochain cours</span>
                             </div>
                            <div class="card-body p-1">
                                 <table class="table table-borderless table-striped">
                                     <tr>
                                        <td>libelle_classe</td>
                                        <td>8h-10h</td>
                                        <td>Mathématiques</td>
                                        <td>Salle B01</td>
                                    </tr>
                                    <tr>
                                        <td>libelle_classe</td>
                                        <td>13h-14h</td>
                                        <td>Mathématiques</td>
                                        <td>Salle B01</td>
                                    </tr>
                                 </table>
                            </div>
                         </div>
            </div>

       </div>

</div>
