 <div class="row mt-5">
           <div class="col-lg-6 col-sm-12 mb-2">

                <div class="card border-{{ color }} shadow-lg">
                    <div class="card-header text-uppercase text-left bg-{{ color }} text-white">
                        <span>Facturation pour la periode {{ 'now'|date("m / Y")}}</span>
                    </div>
                    <div class="card-body">
                        <canvas id="billChartAdmin" width="400" height="300"></canvas>
                    </div>
                </div>

            </div>


            <div class="col-lg-6 col-sm-12">


                        <div class="card border-{{ color }} shadow-lg">
                            <div class="card-header text-uppercase text-left bg-{{ color }} text-white">
                                <span>Nombre d'utilisateurs</span>
                            </div>
                            <canvas id="chartUser"></canvas>
                            {# <div class="card-body">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="eleve-tab" data-toggle="tab" href="#eleve" role="tab" aria-controls="eleve" aria-selected="true">Elèves</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="prof-tab" data-toggle="tab" href="#formateur" role="tab" aria-controls="formateur" aria-selected="false">Formateurs</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="count-tab" data-toggle="tab" href="#count" role="tab" aria-controls="count" aria-selected="false">Comptables</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Administrateurs</a>
                                </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active mt-4 font-weight-bold" id="eleve" role="tabpanel" aria-labelledby="eleve-tab">{{ nbEleve }} Elèves</div>
                                <div class="tab-pane fade mt-4 font-weight-bold" id="formateur" role="tabpanel" aria-labelledby="prof-tab">{{ nbFormateur }} Formateurs</div>
                                <div class="tab-pane fade mt-4 font-weight-bold" id="count" role="tabpanel" aria-labelledby="count-tab">{{ nbComptable }} Comptables</div>
                                <div class="tab-pane fade mt-4 font-weight-bold" id="admin" role="tabpanel" aria-labelledby="admin-ta">{{ nbAdmin }} Administrateurs</div>
                            </div> #}
                                
                            </div>
                        </div>

           
            </div>

       </div>
