        <div class="row mt-5">

           <div class="col-lg-6 col-sm-12 mb-2">

                <div class="card border-{{ color }} shadow-lg">
                    <div class="card-header text-uppercase text-left bg-{{ color }} text-white">
                        <span>Situation des factures pour {{ 'now'|date('m / Y') }}</span>
                    </div>
                    <div class="card-body">
                        <canvas id="SituationFacture" width="400" height="200"></canvas>
                    </div>
                </div>

            </div>


            <div class="col-lg-6 col-sm-12">

                {# <div class="card border-{{ color }} shadow-lg">
                    <div class="card-header text-uppercase text-left bg-{{ color }} text-white">
                        <span>factures a enregistrer </span>
                    </div>
                    <div class="card-body ">
                        <table class="table table-borderless table-striped">
                            <tr>
                                <td>n°30</td>
                                <td>Formateur 3</td>
                                <td>200 €</td>
                             </tr>
                            <tr>
                                <td>n°32</td>
                                <td>Formateur 2</td>
                                <td>100 €</td>
                            </tr>
                            <tr>
                                <td>n°33</td>
                                <td>Formateur 2</td>
                                <td>150 €</td>
                            </tr>
                            <tr>
                                <td>n°34</td>
                                <td>Formateur 4</td>
                                <td>251,30 €</td>
                            </tr>
                        </table>
                    </div>
                </div> #}
                {% include "shared/shared_dashboard/chart/_chart_array_compta.html.twig" %}
            </div>
        </div>
