 
     <div class="row">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>! TAF : </strong> Vous avez une travail à faire qui arrive à expiration !.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
        <div class="row mt-5">
           <div class="col-lg-6 col-sm-12 mb-2">
                <div class="card border-{{ color }} shadow-lg">
                    <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                    {# TODO mettre le mois en injection en lettre par le controller #}
                        <span>Moyenne par matière pour {{'now'|date('Y') }}-{{'now'|date('Y')+1 }}</span>
                    </div>
                    <div class="card-body">
                        <canvas id="MoyenneMatiereChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-sm-12">

                <div class="row">
                
                    <div class="col-12">
                        <div class="card border-{{ color }} shadow-lg">
                            <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                                 <span>cours pour le {{'now'|date('d/m/Y') }}</span>
                            </div>
                            <div class="card-body p-1">
                                 <table class="table table-borderless table-striped">
                                    <tr>
                                        <td>Formateur_name </td>
                                        <td>8h-10h</td>
                                        <td>Eco/droit</td>
                                        <td>Salle B01</td>
                                    </tr>
                                    <tr>
                                        <td>Formateur_name </td>
                                        <td>10h-12h</td>
                                        <td>Mathématiques</td>
                                        <td>Salle B01</td>
                                    </tr>
                                    <tr>
                                        <td>Formateur_name </td>
                                        <td>13h-15h</td>
                                        <td>Réseau</td>
                                        <td>Salle A10</td>
                                    </tr>
                                    <tr>
                                        <td>Formateur_name </td>
                                        <td>15h-17h</td>
                                        <td>Développement</td>
                                        <td>Salle A10</td>
                                    </tr>
                                 </table>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="row mt-2">

                    <div class="col-6">
                        <div class="card border-{{ color }} shadow-lg">
                            <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                                 <span>Moyenne Générale</span>
                            </div>
                            <div class="card-body p-1">
                            
                                 <span><span class=
                                 {% if  moyenne > 10 %}
                                    "text-success font-weight-bold"
                                {% elseif moyenne == 10 %}
                                    "text-warning font-weight-bold"
                                 {% else %}
                                   "text-danger font-weight-bold"
                                 {% endif %}
                                 >{{ moyenne }}</span> / 20</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="card border-{{ color }} shadow-lg">
                            <div class="card-header text-uppercase text-left bg-{{ color }} text-white font-weight-bold">
                                 <span>Nombre de travail à faire</span>
                            </div>
                            <div class="card-body p-1">
                                 <span>7</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</div>
