{{ form_start(form) }}
   {{form_row(form.billProviderNum)}}
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" id="addLign" ><i class="fas fa-plus"></i>&nbsp;Ligne forfait</button>    
                <button type="button" class="btn btn-warning" id="addOutLign"><i class="fas fa-plus"></i>&nbsp;Ligne Hors forfait</button>   
            </div>
        </div>
    </div>
    <div class="form-group">
     {{form_row(form.billLigns)}}
     </div>
        <div class="out">
     </div>
   <br>
    <div class="text-center m-3">
        <button  class="btn btn-{{ color }} border border-white text-white font-weight-bold">{{ button_label|default('Enregistrer') }}</button>
    </div>
    <input type="hidden" name="countOutPackage" id="countOutPackage" value=0>
{{ form_end(form) }}

