{% extends 'base.html.twig' %}

{% block title %}listes des factures
{% endblock %}

{% block body %}
	<div class="container-fluid">

		{% include "/shared/shared_alert/_alert.html.twig" %}

		<h2 class="text-center m-3">
			<span class="badge badge-{{ color }} font-weight-bold text-white">Listes des factures</span>
		</h2>

		<a style="text-decoration:none;" title="ajouter une facture" href="{{ path('bill_new') }}" class="btn-circle btn-{{ color }} mb-3 mt-3">
			<i class="fas fa-plus-square text-white"></i>
		</a>
		<table class="table table-bordered table-hover shadow display" id="billTable" class="display" style="width:100%">
			{% include "/bill/shared_bill/_thead_bill_index.html.twig" %}
			<tbody>
				{% for bill in bills %}

					{% set modeCreation = false %}
					{% set modeWait = false %}
					{% set modeValidate = false %}
					{% set modePaid = false %}

					{% if bill.billState.id == 1 %}
						{% set badgeColor = 'info' %}
						{% set modeCreation = true %}
					{% elseif bill.billState.id == 2 %}
						{% set badgeColor = 'danger' %}
						{% set modeWait = true %}
					{% elseif bill.billState.id == 3 %}
						{% set badgeColor = 'warning' %}
						{% set modeValidate = true %}
					{% elseif bill.billState.id == 4 %}
						{% set badgeColor = 'success' %}
						{% set modePaid = true %}
					{% endif %}


					{# TODO rajouter un test sur profil pour les icones action, les formteurs peuvent uniquement voir et ajouter des lignes #}
					<tr class="text-center">
						<td class="details-control">
							<button type="button" class="btn btn-sm btn-{{ color }}" data-toggle="collapse" data-target="#lign{{bill.id}}" aria-expanded="true" aria-controls="lign{{bill.id}}">
								Voir
							</button>
						</td>
						<td title="{{ bill.id }}">
							<a data-toggle="collapse" class="text-decoration-none"data-target="#lign{{bill.id}}" aria-expanded="true" aria-controls="lign{{bill.id}}">
								{{ bill.billProviderNum ? bill.billProviderNum : 'pas encore de numéro' }}
							</a>
						</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<a data-toggle="collapse" class="text-decoration-none"data-target="#lign{{bill.id}}" aria-expanded="true" aria-controls="lign{{bill.id}}">
									{{ bill.user.nom }}
									{{ bill.user.prenom }}
								</a>
							</td>
						{% elseif is_granted('ROLE_COMPTA') %}
							<td>{{ bill.user.nom }}
								{{ bill.user.prenom }}</td>
						{% endif %}
						<td>{{ bill.createdAt ? bill.createdAt|date('d/m/Y') : '' }}</td>
						<td>{{ bill.updatedAt ? bill.updatedAt|date('d/m/Y') : '' }}</td>
						<td>{{ bill.globalBillValue }}</td>
						<td>

							<span class="badge badge-{{ badgeColor }}">{{ bill.billState ? bill.billState.stateName : '' }}</span>
						</td>

						{% if is_granted('ROLE_ADMIN') %}
							<td>
								{% if modeCreation %}

									<a title="ajouter une ligne sur la facture FORFAIT" href="{{ path('bill_lign_new', {'bill': bill.id}) }}" class="btn btn-success btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">forfait</span>
									</a>
									<a title="ajouter une ligne sur la facture HORS FORFAIT" href="{{ path('out_package_new', {'bill': bill.id}) }}" class="btn btn-warning btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">Hors forfait</span>
									</a>

								{% endif %}
							</td>
						{% elseif is_granted('ROLE_PROF') %}
							<td>
								{% if modeCreation %}

									<a title="ajouter une ligne sur la facture FORFAIT" href="{{ path('bill_lign_new', {'bill': bill.id}) }}" class="btn btn-success btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">forfait</span>
									</a>
									<a title="ajouter une ligne sur la facture HORS FORFAIT" href="{{ path('out_package_new', {'bill': bill.id}) }}" class="btn btn-warning btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">Hors forfait</span>
									</a>

								{% endif %}
							</td>
						{% endif %}

						<td>
							<div class="row">
								{% if app.user == bill.user %}
									<a title="modifier" href="{{ path('bill_edit', {'id': bill.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-2">
										<i class="fas fa-edit text-white"></i>
									</a>
								{% else %}
									<a title="modifier" data-toggle="modal" data-target="#editImpossible" class="btn-circle btn-secondary btn-sm mr-2 ml-2">
										<i class="fas fa-edit text-white"></i>
									</a>		
								{% endif %}
								{% if not is_granted('ROLE_COMPTA') %}
									<a type="button" class="btn btn-circle btn-info m-1" href="{{ path('bill_show_all',{'id_bill': bill.id }) }}" title="Voir toute cette facture">
										<i class="far fa-file"></i>
									</a>
								{% endif %}

								{% if is_granted('ROLE_COMPTA') %}
									<td>
										<div class="row">
											<a type="button" class="btn btn-circle btn-info m-1" href="{{ path('bill_show_all',{'id_bill': bill.id }) }}" title="Voir toute cette facture">
												<i class="far fa-file"></i>
											</a>
											{% if modeWait %}
												<a type="button" class="btn btn-circle btn-warning m-1" href="{{ path('bill_validate',{'id_bill': bill.id }) }}" title="Valider cette facture">
													<i class="far fa-thumbs-up"></i>
												</a>
											{% endif %}
										</div>
									</td>
								{% endif %}
							</td>
						</td>
					</tr>


					<tr id="lign{{bill.id}}" class="collapse">
						<td colspan="9">
							<table class="table table-sm table-bordered table-hover shadow text-center">
								<thead>
									<tr class="table-{{ color }}">
										<th>Période</th>
										<th>Quantité</th>
										<th>
											<span class="text-success">Forfait</span>
											&nbsp;/&nbsp;
											<span class="text-warning">Hors forfait</span>
										</th>
										<th>Prix unitaire ht</th>
										<th>valeur total</th>
										<th>Date concernée</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for bill_lign in bill.billLigns %}

										{% if bill_lign.bill.billState.id == 1 %}
											{% set badgeColor = 'info' %}
											{% set modeCreation = true %}
										{% elseif bill_lign.bill.billState.id == 2 %}
											{% set badgeColor = 'danger' %}
										{% elseif bill_lign.bill.billState.id == 3 %}
											{% set badgeColor = 'warning' %}
										{% elseif bill_lign.bill.billState.id == 4 %}
											{% set badgeColor = 'success' %}
										{% endif %}

										<tr class="text-center">
											<td>
												{{ bill_lign.bill.createdAt | date('m-Y') }}
											</td>
											<td title="ibl{{ bill_lign.id }}">{{ bill_lign.quantity }}</td>
											<td>
												<span class="text-success font-weight-bold">
													{{ bill_lign.package.id is defined  ? bill_lign.package.packageName : '' }}
												</span>
												<span class="text-warning font-weight-bold">
													{{ bill_lign.outPackage.id is defined ? bill_lign.outpackage.outPackageName : '' }}
												</span>
											</td>
											<td>
												{{ bill_lign.package.id is defined ?  bill_lign.package.value : '' }}
												{{ bill_lign.outPackage.id is defined ? bill_lign.outPackage.value : '' }}
											</td>
											<td>{{ bill_lign.globalLignValue }}</td>
											<td>{{ bill_lign.createdAt is defined  ? bill_lign.createdAt|date('d/m/Y') : '' }}</td>
											<td>
												<div class="row">
													{% if bill_lign.package.id is defined %}
														{% if bill_lign.bill.billState.id == 1 %}
															{% if app.user == bill.user %}
																<a title="modifier" href="{{ path('bill_lign_edit', {'id': bill_lign.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-2"><i class="fas fa-edit text-white"></i></a>
															{% endif %}
														{% endif %}
													{% else %}
														{% if bill_lign.bill.billState.id == 1 %}
															{% if app.user == bill.user %}
																<a title="modifier" href="{{ path('out_package_edit', {'id': bill_lign.outPackage.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-2"><i class="fas fa-edit text-white"></i></a>
															{% endif %}
														{% endif %}
														{% if bill_lign.outPackage.proof != null %}
															<a class="btn btn-sm btn-outline-secondary" title="voir le justificatif" target="_blank" href="/uploads/proof/{{ bill_lign.outPackage.proof.proofFile }}"><i class="fas fa-folder-open text-primary" ></i>&nbsp;Justificatif</a>
														{% else %}
															<a class="btn btn-sm btn-secondary text-light" title="ajouter un justificatif" href="{{ path('proof_new', {'id_out_package': bill_lign.outPackage.id}) }}"><i class="fas fa-plus text-white"></i>&nbsp;Justificatif</a>
														{% endif %}
													{% endif %}
												</div>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="5">Pas de lignes enregistrées</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</td>
					</tr>


					
				</tbody>
			</tbody>
		</tr>
	{% else %}
		<tr>
			<td colspan="6">pas de facture trouvée</td>
		</tr>
	{% endfor %}

</tbody></table></div>

<div class="modal fade" id="editImpossible" tabindex="-1" aria-labelledby="editImpossibleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editImpossibleLabel">Modificication impossible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vous ne pouvez pas modifier une facture qui n'est pas la votre, <b>même en tant qu'administrateur</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-{{ color }}" data-dismiss="modal">fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{% include "shared/shared_datatable/_datatable_main.html.twig" %}
{% endblock %}
