{% extends 'base.html.twig' %}

{% block title %}listes des factures
{% endblock %}

{% block body %}
	<div class="container-fluid">
	
		{% include "/shared/shared_alert/_alert.html.twig" %}

		<h2 class="text-center m-3">
			<span class="badge badge-{{ color }} font-weight-bold text-white">Listes des factures</span>
		</h2>

		<a style="text-decoration:none;" title="ajouter une facture" href="{{ path('bill_new') }}" class="btn-circle btn-{{ color }} mb-3 mt-3">
			<i class="fas fa-plus-square text-white"></i>
		</a>
		<table class="table table-bordered table-hover shadow display">
			{% include "/bill/shared_bill/_thead_bill_index.html.twig" %}
			<tbody>
				{% for bill in bills %}

					{% set modeCreation = false %}
					{% set modeWait = false %}
					{% set modeValidate = false %}
					{% set modePaid = false %}

					{% if bill.billState.id == 1 %}
						{% set badgeColor = 'info' %}
						{% set modeCreation = true %}
					{% elseif bill.billState.id == 2 %}
						{% set badgeColor = 'danger' %}
						{% set modeWait = true %}
					{% elseif bill.billState.id == 3 %}
						{% set badgeColor = 'warning' %}
						{% set modeValidate = true %}
					{% elseif bill.billState.id == 4 %}
						{% set badgeColor = 'success' %}
						{% set modePaid = true %}
					{% endif %}


					{# TODO rajouter un test sur profil pour les icones action, les formteurs peuvent uniquement voir et ajouter des lignes #}
					<tr class="text-center">
						<td title="{{ bill.id }}">{{ bill.billProviderNum ? bill.billProviderNum : 'pas encore de numéro' }}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>{{ bill.user.nom }}
								{{ bill.user.prenom }}</td>
						{% elseif is_granted('ROLE_COMPTA') %}
							<td>{{ bill.user.nom }}
								{{ bill.user.prenom }}</td>
						{% endif %}
						<td>{{ bill.createdAt ? bill.createdAt|date('d/m/Y') : '' }}</td>
						<td>{{ bill.updatedAt ? bill.updatedAt|date('d/m/Y') : '' }}</td>
						<td>{{ bill.globalBillValue }}</td>
						<td>
							<span class="badge badge-{{ badgeColor }}">{{ bill.billState ? bill.billState.stateName : '' }}</span>
						</td>

						{% if is_granted('ROLE_ADMIN') %}
							<td>
								{% if modeCreation %}

									<a title="ajouter une ligne sur la facture FORFAIT" href="{{ path('bill_lign_new', {'bill': bill.id}) }}" class="btn btn-success btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">forfait</span>
									</a>
									<a title="ajouter une ligne sur la facture HORS FORFAIT" href="{{ path('out_package_new', {'bill': bill.id}) }}" class="btn btn-warning btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">Hors forfait</span>
									</a>

								{% endif %}
							</td>
						{% elseif is_granted('ROLE_PROF') %}
							<td>
								{% if modeCreation %}

									<a title="ajouter une ligne sur la facture FORFAIT" href="{{ path('bill_lign_new', {'bill': bill.id}) }}" class="btn btn-success btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">forfait</span>
									</a>
									<a title="ajouter une ligne sur la facture HORS FORFAIT" href="{{ path('out_package_new', {'bill': bill.id}) }}" class="btn btn-warning btn-sm mr-2 ml-2">
										<span class="text-white font-weight-bold">Hors forfait</span>
									</a>

								{% endif %}
							</td>
						{% endif %}

						<td>
							<div class="row">
								<a title="modifier" href="{{ path('bill_edit', {'id': bill.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-2">
									<i class="fas fa-edit text-white"></i>
								</a>
								{% if not is_granted('ROLE_COMPTA') %}
								<a type="button" class="btn btn-circle btn-info m-1" href="{{ path('bill_show_all',{'id_bill': bill.id }) }}" title="Voir toute cette facture">
									<i class="far fa-file"></i>
								</a>
								{% endif %}
								
								{% if is_granted('ROLE_COMPTA') %}
									<td>
										<div class="row">
											<a type="button" class="btn btn-circle btn-info m-1" href="{{ path('bill_show_all',{'id_bill': bill.id }) }}" title="Voir toute cette facture">
												<i class="far fa-file"></i>
											</a>
											{% if modeWait %}
												<a type="button" class="btn btn-circle btn-warning m-1" href="{{ path('bill_validate',{'id_bill': bill.id }) }}" title="Valider cette facture">
													<i class="far fa-thumbs-up"></i>
												</a>
											{% endif %}
										</div>
									</td>
								{% endif %}
							</td>
						</td>
					</tr>
				</div>
			</tbody>
		</tr>
	{% else %}
		<tr>
			<td colspan="6">pas de facture trouvée</td>
		</tr>
	{% endfor %}

</tbody></table></div>{% endblock %}{% block javascripts %}{% include "shared/shared_datatable/_datatable_main.html.twig" %}{% endblock %}
