{% extends 'base.html.twig' %}

{% block title %}OutPackage{% endblock %}

{% block body %}
    <h1>OutPackage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ out_package.id }}</td>
            </tr>
            <tr>
                <th>OutPackageName</th>
                <td>{{ out_package.outPackageName }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ out_package.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('out_package_index') }}">back to list</a>

    <a href="{{ path('out_package_edit', {'id': out_package.id}) }}">edit</a>

    {{ include('out_package/_delete_form.html.twig') }}
{% endblock %}
