{% extends 'base.html.twig' %}

{% block title %}Matieres{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center m-3"><span class="badge badge-info font-weight-bold text-white">Listes des matières</span></h2>
    <a href="{{ path('matiere_new') }}" class="btn btn-outline-danger mb-3 mt-3">Créer une matière</a>

    <table class="table table-bordered shadow">
        <thead class="thead-dark text-center">
            <tr>
                <th>n°</th>
                <th>Libellé matière</th>
                <th>Coefficient</th>
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr class='text-center'>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.libelleMatiere }}</td>
                <td>{{ matiere.coefficient }}</td>
                <td class="text-right">
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}" class="btn btn-info btn-sm mr-1">Voir</a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}" class="btn btn-info btn-sm mr-1">Modifier</a>
                </td>
                <td>{{ include('matiere/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"><i>Pas de matière enregistré</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
