{% extends 'base.html.twig' %}

{% block title %}Matieres{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="badge badge-{{ color }} font-weight-bold text-white">Listes des matières</span></h2>

    <a style="text-decoration:none;" title="ajouter une matière" href="{{ path('matiere_new') }}" class="btn-circle btn-{{ color }} mb-3 mt-3"><i class="fas fa-folder-plus text-white"></i></a>

    <table class="table table-bordered table-hover shadow">
        <thead class="text-center table-sm thead-dark">
            <tr>
                <th width="10%">N°</th>
                <th>Libellé matière</th>
                <th>Coefficient</th>
                <th>formateur(s)</th>
                <th width="7%">actions</th>
            </tr>
        </thead>
        <tbody class="table-sm">
        {% for matiere in matieres %}
            <tr class='text-center'>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.libelleMatiere }}</td>
                <td>{{ matiere.coefficient }}</td>
                <td>
                {% for formateur in matiere.users %}
                    {{ formateur.nom }}  {{ formateur.prenom }} - 
                {% endfor %}
                </td>
                <td>
                    <div class="row">
                        {# <a title="voir" href="{{ path('matiere_show', {'id': matiere.id}) }}" class="btn-circle btn-info btn-sm mr-1"><i class="fas fa-eye text-white"></i></a> #}
                        <a title="modifier" href="{{ path('matiere_edit', {'id': matiere.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-4"><i class="fas fa-edit text-white"></i></a>
                        {{ include('matiere/_delete_form_icone.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"><i>Pas de matière enregistré</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
