{% extends 'base.html.twig' %}

{% block title %}BillLign{% endblock %}

{% block body %}
    <h1>BillLign</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bill_lign.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ bill_lign.quantity }}</td>
            </tr>
            <tr>
                <th>GlobalLignValue</th>
                <td>{{ bill_lign.globalLignValue }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ bill_lign.createdAt ? bill_lign.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bill_lign_index') }}">back to list</a>

    <a href="{{ path('bill_lign_edit', {'id': bill_lign.id}) }}">edit</a>

    {{ include('bill_lign/_delete_form.html.twig') }}
{% endblock %}
