{% extends 'base.html.twig' %}

{% block title %}liste notes{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="badge badge-{{ color }} font-weight-bold text-white">Listes des notes</span></h2>

    {% if is_granted('ROLE_ADMIN') %}
        <a style="text-decoration:none;" title="ajouter une note" href="{{ path('note_new_prev') }}" class="btn-circle btn-{{ color }} mb-3 mt-3"><i class="fas fa-folder-plus text-white"></i></a>
    {% elseif is_granted('ROLE_PROF') %}
        <a style="text-decoration:none;" title="ajouter une note" href="{{ path('note_new_prev') }}" class="btn-circle btn-{{ color }} mb-3 mt-3"><i class="fas fa-folder-plus text-white"></i></a>
    {% endif %}
    <table class="table table-bordered table-striped shadow display text-center">
        <thead class="text-center table-sm thead-dark">
            <tr>
                <th>Intitule de l'élément noté</th>
                <th>Matiere</th>
                <th>Date de la note</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Coefficient</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>élève</th>
                    <th>Actions</th>
                {% elseif is_granted('ROLE_PROF') %}
                    <th>élève</th>
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td title="{{ note.id }}">{{ note.libelleNote }}</td>
                <td>{{ note.matieres.libelleMatiere }}</td>
                <td>{{ note.dateNote ? note.dateNote|date('d/m/Y') : '' }}</td>
                <td>{{ note.commentaire }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.coefficient }}</td>
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ note.eleves.nom }}</td>
                <td>
                    <div class="row">
                        {# <a title="voir" href="{{ path('note_show', {'id': note.id}) }}" class="btn-circle btn-info btn-sm mr-1"><i class="fas fa-eye text-white"></i></a> #}
                        <a title="modifier" href="{{ path('note_edit', {'id': note.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-4"><i class="fas fa-edit text-white"></i></a>
                        {# {{ include('note/_delete_form_icone.html.twig') }} #}
                    </div>
                 </td>
                {% elseif is_granted('ROLE_PROF') %}
                <td>{{ note.eleves.civ.libelleCivilite }} {{ note.eleves.nom|upper }} {{ note.eleves.prenom }}</td>
                 <td>
                    <div class="row">
                        {# <a title="voir" href="{{ path('note_show', {'id': note.id}) }}" class="btn-circle btn-info btn-sm mr-1"><i class="fas fa-eye text-white"></i></a> #}
                        <a title="modifier" href="{{ path('note_edit', {'id': note.id}) }}" class="btn-circle btn-info btn-sm mr-2 ml-4"><i class="fas fa-edit text-white"></i></a>
                        {# {{ include('note/_delete_form_icone.html.twig') }} #}
                    </div>
                 </td>
                {% endif %}
                    
               
            </tr>
        {% else %}
            <tr>
                <td>Pas de note enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    {% include "shared/shared_datatable/_datatable_main.html.twig" %}
{% endblock %}