{% extends 'base.html.twig' %}

{% block title %}Nouvelle note{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="font-weight-bold text-white badge badge-{{ color }}">Saisie note {{ app.session.get('selected_libelle')}}</span></h2>
    <form action="{{ path('note_new_save') }}">
        <table class="table table-bordered table-responsive table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th width="15%">Elèves</th>
                    <th width="15%">Notes</th>
                    <th width="50%">Commentaires</th>
                </tr>
            </thead>
            <tbody>

            {% for eleve in eleves %}
                {% if eleve.fonction.id == 3 %}
                    <tr>
                        <td>{{ eleve.civ.libelleCivilite }} {{ eleve.nom|upper }} {{ eleve.prenom }}<input type="hidden" name="eleves[]" value="{{ eleve.id }}"></td>
                        <td><input type="number" name="notes[]"></td>
                        <td><input type="text" name="commentaires[]" size="50px"></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {# TODO : tester s'il y a des élèves dans la classe, sinon ne pas afficher le submit sinon enregistrement vide en BDD... #}
        <div class="text-center">
            <button type="submit" class="btn btn-{{ color }} font-weight-bold text-white mt-5" >Valider la saisie de note</button>
        </div>
    </form>
</div>
{% endblock %}
