{% extends 'base.html.twig' %}

{% block title %}Proof index{% endblock %}

{% block body %}
<div class="container-fluid">
{% include "/shared/shared_alert/_alert.html.twig" %}
    <h2 class="text-center m-3"><span class="badge badge-{{ color }} font-weight-bold text-white">Listes des justificatifs</span></h2>

    <table class="table table-bordered table-hover shadow display">
        <thead class="text-center table-sm thead-dark">
            <tr> 
                <th>Fichier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for proof in proofs %}
            <tr>
                <td title="{{ proof.id }}">{{ proof.proofFile }}</td>
                <td>
                     <a title="modifier" href="{{ asset('/uploads/proof/') }}{{ proof.proofFile }}" target="_blank" class="btn-circle btn-info btn-sm mr-2 ml-4"><i class="fas fa-file-pdf text-white"></i></a>
                    {# <a href="{{ path('proof_edit', {'id': proof.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun justificatif enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('proof_new') }}">Create new</a> #}
{% endblock %}
{% block javascripts %}
    {% include "shared/shared_datatable/_datatable_main.html.twig" %}
{% endblock %}
