{# <form method="post" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn">Delete</button>
</form> #}

<form method="post" action="{{ path('matiere_delete', {'id': message.id}) }}" onsubmit="return confirm('Voulez vous supprimer le message {{ message.titre}} ?');" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn-circle btn-danger btn-sm" title="supprimer le message"><i class="fas fa-trash-alt text-white"></i></button>
</form>
