{{ form_start(form) }}
    {{ form_widget(form) }}
   <div class="text-center m-3">
        <button class="btn btn-{{ color }} border border-white text-white font-weight-bold">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
