{% extends 'base.html.twig' %}

{% block title %}Message liste{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-4"><span class="badge badge-{{ color }} font-weight-bold text-white">Liste des messages</span></h2>
    <a style="text-decoration:none;" title="nouveau message" href="{{ path('message_new') }}" class="btn-circle btn-{{ color }} mb-3 mt-3"><i class="far fa-envelope text-white fa-1x"></i></a>
    <div class="row">
        {# nav des onglets de gestion des messages #}
        <div class="col-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active text-{{ color }}" id="nav-unread-tab" data-toggle="tab" href="#nav-unread" role="tab" aria-controls="nav-unread" aria-selected="true">Non lu</a>
                    <a class="nav-link text-{{ color }}" id="nav-read-tab" data-toggle="tab" href="#nav-read" role="tab" aria-controls="nav-read" aria-selected="false">lu</a>
                    <a class="nav-link text-{{ color }}" id="nav-important-tab" data-toggle="tab" href="#nav-important" role="tab" aria-controls="nav-important" aria-selected="false">Important</a>
                    <a class="nav-link text-{{ color }}" id="nav-send-tab" data-toggle="tab" href="#nav-send" role="tab" aria-controls="nav-send" aria-selected="false">Envoyé</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-unread" role="tabpanel" aria-labelledby="nav-unread-tab" style="height:500px;overflow:auto;">
                    {% include "/message/shared_message/_message_unread.html.twig" %}
                </div>
                <div class="tab-pane fade" id="nav-read" role="tabpanel" aria-labelledby="nav-read-tab" style="height:500px;overflow:auto;">
                    {% include "/message/shared_message/_message_read.html.twig" %}
                </div>
                <div class="tab-pane fade" id="nav-important" role="tabpanel" aria-labelledby="nav-important-tab" style="height:500px;overflow:auto;">
                    {% include "/message/shared_message/_message_important.html.twig" %}
                </div>
                <div class="tab-pane fade" id="nav-send" role="tabpanel" aria-labelledby="nav-send-tab" style="height:500px;overflow:auto;">
                    {% include "/message/shared_message/_message_send.html.twig" %}
                </div>
            </div>
        </div>

        {# affichage des messages par ajax #}
        <div class="col-8">
            <div class="card card-message-content border border-{{ color }} p-2">
                <div >
                    <h3 id="title_mail" class="font-weight-bold text-{{ color }}"></h3>
                    <span id="content_mail" class="text-dark"></span>
                    <br>
                    <input type="hidden" name="mail_id" id="mail_id" value=-99>
                                
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
<script>

    function display(message) {
           $.ajax ( 
		    {
                url:"{{ path('ajaxDisplayMessage') }}",
                data:{
                    val : message.dataset.messageid
                    },
                dataType :'json',
                method:'POST',
                success : function(mail)
                {
                    console.log(mail.id);
                    html_title = mail.title;
                    html_content = mail.content;
                    $("#title_mail").html(html_title);
                    $("#content_mail").html(html_content);
                    $("#mail_id").val(mail.id);
                    
			    }
		}) 
    }

      
</script>

{% endblock %}
