{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center m-3"><span class="font-weight-bold text-white badge badge-{{ color }}">Envoyer un message</span></h2>

    <span> De {{ message.userFrom.nom }}&nbsp;{{ message.userFrom.prenom }} pour {{ message.userTo.nom }}&nbsp;{{ message.userTo.prenom }}</span>
    <br>
    {% if send_back %}
        <span> <b>Titre du message</b> {{ message.title }}</span>
    {% endif %}
    {{ include('message/_form_by_user.html.twig') }}

    <a href="{{ path('message_index') }}"></a>
    <a title="retour à la liste" style="text-decoration:none;" href="{{ path('message_index') }}" class=" mt-3 btn-circle btn-secondary"><i class="fas fa-undo text-white"></i></a>
</div>
{% endblock %}
