<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stallman2 - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/vendors~app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
      {% block stylesheets %}{% endblock %}

    </head>
    <body>
      {% if is_granted('ROLE_ADMIN') %}
        {% set text_color = 'text-info' %}
        {% set color = 'info' %}
      {% elseif is_granted('ROLE_PROF') %}
        {% set text_color = 'text-primary' %}
        {% set color = 'primary' %}
      {% elseif is_granted('ROLE_ELEVE') %}
        {% set text_color = 'text-success' %}
        {% set color = 'success' %}
      {% elseif is_granted('ROLE_COMPTA') %}
        {% set text_color = 'text-warning' %}
        {% set color = 'warning' %}
      {% endif %}
      
      {% include "shared/shared_sidebar/_shared_sidebar.html.twig" %}
          {% block body %}{% endblock %}
      {% include "shared/shared_sidebar/_shared_sidebar_footer.html.twig" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.21/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{{ asset('build/vendors~app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
