<div id="wrapper">
<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href={{ path('home') }}>
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-graduation-cap {{ text_color }}"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Stallman2</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href={{ path('home') }}>
          <i class="fas fa-fw fa-chart-pie {{ text_color }}"></i>
          <span>Tableau de bord</span></a>
      </li>

      <!-- menu admin -->
      {% if is_granted('ROLE_ADMIN') %}
        {% include "shared/shared_sidebar/_shared_interface_admin.html.twig" %}
      {% endif %}

      {% if is_granted('ROLE_ADMIN') %}
        {% include "shared/shared_sidebar/_shared_interface_compta.html.twig" %}
      {% elseif is_granted('ROLE_COMPTA') %}
        {% include "shared/shared_sidebar/_shared_interface_compta.html.twig" %}
      {% endif %}
      
      {% if is_granted('ROLE_ADMIN') %}
        {% include "shared/shared_sidebar/_shared_interface_formateur.html.twig" %}
      {% elseif is_granted('ROLE_PROF') %}
        {% include "shared/shared_sidebar/_shared_interface_formateur.html.twig" %}
      {% endif %}
     


      <!-- Divider -->
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        interface utilisateur
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {# <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlanning" aria-expanded="true" aria-controls="collapsePlanning">
          <i class="fas fa-fw fa-calendar-week {{ text_color }}"></i>
          <span>Planning</span>
        </a>
        <div id="collapsePlanning" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Voir EDT</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="collapse-item" href="register.html">Modifier EDT</a>
            {% endif %}
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTaf" aria-expanded="true" aria-controls="collapseTaf">
          <i class="fas fa-fw fa-briefcase {{ text_color }}"></i>
          <span>Travail à faire</span>
        </a>
        <div id="collapseTaf" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Consulter</h6>
            <a class="collapse-item" href="#">Voir TAF</a>
            {% if is_granted('ROLE_ADMIN') %}
              <h6 class="collapse-header">Adminsitration</h6>
              <a class="collapse-item" href="#">Modifier TAF</a>
              <a class="collapse-item" href="#">Créer TAF</a>
            {% elseif is_granted('ROLE_PROF') %}
              <h6 class="collapse-header">Adminsitration</h6>
              <a class="collapse-item" href="#">Modifier TAF</a>
              <a class="collapse-item" href="#">Créer TAF</a>
            {% endif %}
          </div>
        </div>
      </li> #}

      {% if is_granted('ROLE_ADMIN') %}
        {% include "shared/shared_sidebar/_shared_interface_user.html.twig" %}
      {% elseif is_granted('ROLE_ELEVE') %}
        {% include "shared/shared_sidebar/_shared_interface_user.html.twig" %}
      {% elseif is_granted('ROLE_PROF') %}
        {% include "shared/shared_sidebar/_shared_interface_user.html.twig" %}
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMail" aria-expanded="true" aria-controls="collapseMail">
          <i class="fas fa-fw fa-envelope {{ text_color }}"></i>
          <span>Messages</span>
        </a>
        <div id="collapseMail" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Consulter</h6>
            <a class="collapse-item" href={{ path('message_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('message_new') }}>Envoyer</a>

            {# {% if is_granted('ROLE_ADMIN') %}
              <h6 class="collapse-header">Adminsitration</h6>
              <a class="collapse-item" href="#">Envoyer en liste</a>
            {% elseif is_granted('ROLE_PROF')%}
              <h6 class="collapse-header">Adminsitration</h6>
              <a class="collapse-item" href="#">Envoyer en liste</a>
            {% endif %} #}

          </div>
        </div>
      </li>
      {% if is_granted('ROLE_ELEVE') %}
        {% include "shared/shared_sidebar/_shared_interface_eleve.html.twig" %}
      {% endif %}

     <hr class="sidebar-divider">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow-lg">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-{{color}} d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <h5><span class="{{ text_color }} font-weight-bold">{{ app.user.nom }} {{ app.user.prenom }}</span> {{ 'now'|date('d/m/Y') }}</h5>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            

            <!-- Nav Item - Messages -->
            
            {{ render (path('message_popup')) }}

            <div class="topbar-divider d-none d-sm-block"></div>
          
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline link small">{{ app.user.email }}</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id}) }}">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Modifier
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Se déconnecter
                </a>
              </div>
            </li>

          </ul>

                 </nav>
                
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

         {% block body %}
         
         
         
        {% endblock %}
        {% block javascripts %}
          <script>
            function displayMessagePopup() {
              $.ajax ( 
            {
                    url:"{{ path('message_popup') }}",
                    data:{
                        iduser : {{ app.user.id }}
                        },
                    dataType :'json',
                    method:'POST',
                    success : function(newmessage)
                    {
                      $messages = json.Parse(newmessage);
                      foreach(message in messages) {
                        console.log(message.title);
                      }        
              }
            }) 
            }
        </script>
        {% endblock %}
      <!-- End of Main Content -->
        </div>

       

      