      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Interface formateur
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFactureForm" aria-expanded="true" aria-controls="collapseFactureForm">
          <i class="fas fa-fw fa-file-invoice {{ text_color }}"></i>
          <span>Facture</span>
        </a>
        <div id="collapseFactureForm" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href={{ path('bill_index')}}>Liste</a>
            <a class="collapse-item" href={{ path('bill_lign_index') }}>Liste lignes</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNote" aria-expanded="true" aria-controls="collapseNote">
          <i class="fas fa-fw fa-marker {{ text_color }}"></i>
          <span>Notes</span>
        </a>
        <div id="collapseNote" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href={{ path('note_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('note_new_prev') }}>Insérer une note</a>
          </div>
        </div>
      </li>