      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Interface comptabilite
      </div>

      <!-- menu de la compta -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFacture" aria-expanded="true" aria-controls="collapseFacture">
          <i class="fas fa-fw fa-calculator {{ text_color }}"></i>
          <span>Gestions des factures</span>
        </a>
        <div id="collapseFacture" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href={{ path('bill_index') }}>Liste</a>
            <a class="collapse-item" href={{ path('bill_lign_index') }}>Liste lignes</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a class="collapse-item" href={{ path('bill_state_index') }} title="getion des états de la factures">Gestion etat</a>
              <a class="collapse-item" href={{ path('package_index') }} title="getion des forfaits possibles">Forfaits</a>
            {% endif %}
        </div>
      </li>