{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center font-weight-bold m-3 text-primary table-striped">Listes de Utilisateurs</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>N°</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Voir la fiche du utilisateur</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">modifier le utilisateur</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><i>Pas d'utilisateur enregistré</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Créer un utilisateur</a>
    </div>
{% endblock %}
