{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center font-weight-bold m-3 text-primary table-striped">Listes de Utilisateurs</h1>
    <a href="{{ path('user_new') }}" class="btn btn-outline-danger mb-3 mt-3">Créer un utilisateur</a>
    <table class="table table-bordered">
        <thead class="thead-dark text-center">
            <tr>
                <th>N° d'utilisateur</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-secondary m-1">Voir la fiche du utilisateur</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary m-1">modifier le utilisateur</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><i>Pas d'utilisateur enregistré</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    </div>
{% endblock %}
