{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container align-content-center">
    <h1 class="text-center font-weight-bold m-3 text-primary table-striped">Fiche utilisateur {{ user.email }}</h1>
    <br>
    <div class="row">
        <div class="card text-white bg-primary mb-3 mt-3 mr-3" style="max-width: 18rem;">
            <div class="card-header">N° d'utilisateur</div>
            <div class="card-body bg-light">
                <p class="card-text text-dark text-center text-xl">{{ user.id }}</p>
            </div>
        </div>
         <div class="card text-white bg-primary mb-3 mt-3 mr-3" style="max-width: 18rem;">
            <div class="card-header">Mail</div>
            <div class="card-body bg-light">
                <p class="card-text text-dark text-center text-xl">{{ user.email }}</p>
            </div>
        </div>
         <div class="card text-white bg-primary mb-3 mt-3 mr-3" style="max-width: 18rem;">
            <div class="card-header">Rôle</div>
            <div class="card-body bg-light">
                <p class="card-text text-dark text-center text-xl">{{ user.roles ? user.roles|json_encode : '' }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="{{ path('user_index') }}" class="btn btn-secondary btn-sm mr-2">Retour à la liste d'utilisateur</a>
        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary btn-sm mr-2">Modifier ce profil</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>


{% endblock %}
